{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      PlaceMark: Discover, organise, and manage your favourite places across the world </p>
  </div>
</section>
