{{> menu active="dashboard"}}

<section class="section">
  <h1 class="title">Category: {{category}}</h1>

  <h2 class="title is-4">Placemarks in this category</h2>
  {{> list-placemarks placemarks=placemarks user=user}}

 <h2 class="title is-4">Categories</h2>

{{#each categories}}
  <a class="button is-link is-light"
     href="/category?category={{this}}&userId={{../user._id}}">
    {{this}}
  </a>
{{/each}}

  </div>
</section>
