{{> menu active="dashboard"}}
<h1>{{title}}</h1> 
<p>Welcome, {{user.firstName}}</p>
<section class="section">
  {{> list-placemarks placemarks=placemarks user=user}}
  {{> add-placemark}}




</section>
