{{> welcome-menu}}

<section class="section">
  <h1>{{title}}</h1>
</section>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <h2>Sign up or Log in...</h2>
  </div>
  <div class="column">
    <img src="/images/istockphoto-828687016-1024x1024.jpg">
  </div>
</div>

 
