<!-- Table displaying all registered users for admin dashboard -->
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through each user passed to rhe view -->
    {{#each users}}
      <tr>
        <!-- User details -->
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
        <!-- Admin action: delete user -->
        <td>
          <a
            href="/admin/users/delete/{{_id}}"
            class="button is-danger is-small"
          >
            Delete
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>